span{
height:50px;
width:375px;
background:#00ff00;
/*display:try block and inline block;*/
/*float*/
}
div{
height:50px;
width:100px;
   padding:10px;
   margin:5px;
   border:1px solid black;
background:#00ffff;
   display:inline-block;
   box-sizing:border-box;
/*display:;*/
/*float:;*/
}
p {
   p {
    clear: both;
    width: 1000px;
    height: 20px;
    float: center;
    background: #ff00ff;
/*display:;*/
/*float:;*/
}
