span{
height:50px;
width:75px;
background:#00ff00;
/*display:try block and inline block;*/
/*float*/
}
div{
height:100px;
width:45%;
background:#00ffff;
/*display:;*/
/*float:;*/
}
p{
height:200px;
width:100px;
background:#ff00ff;
/*display:;*/
/*float:;*/
}