header{
   background-color:#ffff47; 
  height: 200px;
  width:auto;
background-image: url("https://vassilioskappas.github.io/tests/flywheel.jpg");
  background-image-repeat:repeat;
  }
body{
  padding:4px;
  margin:20px;
}
h1{
  text-align: center;
  text-transform:uppercase;
  color:#ffff00;
  font-size:250%
}
.active{
  background:#FCFF33;
  color:#23ff23;
}
.nav{
display: inline;
  background-color:#ff6347;
  margin:30px;
  border:2px solid blue;
border-radius: 22px;
  text-decoration: line-through;
  padding:22px;
}
nav{
  color:#0000ff;
      text-align:center;
}
a:hover{
  background:#FCFF33;
  color:#23ff23;
}
 section{
   width:700px;
  color:#ffffff;
  background-color:#Ffffff;
  text-align:left;
  font-size:110%; 
 }
img{
    border: 5px solid #000000;
  border-radius: 4px;
  padding:8px 1px 2px 3px;
  width: 180px;    
  margin:15px;
  height:99px;
}
.left {
  float: left;
 background-color:#f5deb3;
width:224px;}
.right{
 float:right;
  text-align:left;
    color:#666666;
  background:#ffffff;  
  font-size:110%;
  width:700px;
    }
h2{
  text-align:left;
}
