body{
 background-color:#ff3434;
  font-size:140%;
  margin:4%;
}
header{
  padding:15px;
  text-aline:center;
}
h1{
  color:#ooffoo;
}
nav{
  font-variant:small-caps;
  font-size:150%;
  font-family:arial,"time new roman",serif;
}
h2{
  color:#ffdd00;
  background:#003333;
}
details{
  font-style:italic;
}
summary{
  font-style:normal;
}
.half{
  width:45%;
}
.whole{
clear:both;
  width: 100%;
  text-align: center;
}
div {
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}


section{
  width:30%;
  display:inline-block;
  float:left;
  margin-right:2%;
}
footer{
  color:#d88116;
  background:#666666;
  width: 100%;
  background:-moz-linear-gradient(top,#666666 0%,#666666 20%); 
}
img{  width:125px;
}
nav a{
  width:45%;
  display:inline-block;
  background:#fff000;
  }
a:hover{
  background:#00ffff;
}
