body{
 background-color:#ff3434;
  font-size:140%;
  margin:4%;
}
header{
 background:#666666;
  padding:15px;
  text-aline:center;
}
h1{
  color:#ooffoo;
}
nav{
  font-variant:small-caps;
  font-size:150%;
  font-family:arial,"time new roman",serif;
}
h2{
  color:#ffdd00;
  background:#003333;
}
details{
  font-style:italic;
}
summary{
  font-style:normal;
}
section{
  width:30%;
  display:inline-block;
  float:left;
  margin-right:2%;
}
footer{
  background:#0f0f0f;
  clear:both;
}
img{
  width:125px;
}

